# Ignore Colab-specific files
.ipynb_checkpoints/
__pycache__/
*.ipynb

# Ignore data files
*.csv
*.txt
*.json
data/

# Ignore virtual environment directories
venv/
env/

# Ignore output files or directories
output/
results/
